
/*Propiedades de la clase jumbotron(banner)*/
.jumbotron{
    background-color: lightgreen;
    color:black; 
    margin-top: 50px;

    margin-bottom: 0px;
    background-image: url(../images/banner.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

/*Propiedades del footer*/
footer{
    margin-top: 12px ;
    margin-bottom: 0;
    background-color: lightgreen;
}

/*Clase para configuracion de los elementos de cada producto(tours)*/
.card-tours{
    flex: 1 200px;
    padding: 12px 12px 12px 12px;
    margin: 12px 12px 12px 12px;
    border-radius: 15px;
}


/*Clase para configuracion de los botones de los productos(tours)*/
.btn_reserva{
    width: 100%;
    border-radius: 0px;
}


.footer-address-icon{
    padding-right: 8px;    
}


.ui-dialog {z-index: 999; }